footer{
    
    position: relative;
    height: 100px;
    width: 300px;
    text-indent: 10px;
}
footer > a{
    padding-left: 10px ;
    inline-size: 0px;
    text-decoration: none;
    text-decoration-color: royalblue;
    
}
a:visited{
    color: royalblue;
}
a:hover{
    color:blueviolet  ;
}
